<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>

        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('submit_signup') }}" method="post" class="form-container">
            <div class="input-container">
                <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
            </div>
            <div class="input-container">
                <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
            </div>
            <div class="input-container">
                <input type="text" id="create_username" name="create_username" placeholder="Username" required>
            </div>
            <div class="input-container">
                <input type="password" id="create_password" name="create_password" placeholder="Password" required>
            </div>
            <button class="signup-btn" type="submit">Sign Up</button>
        </form>

        <!-- Add the Back button -->
        <form action="{{ url_for('login') }}" method="get">
            <button class="back-btn" type="submit">Back</button>
        </form>
    </div>
</body>
</html>
